# dependencies
/node_modules

# next
/.next
/out

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log

# build/cache
*.tsbuildinfo
.eslintcache

# test coverage
/coverage

# vercel
.vercel

# misc
.DS_Store

# local supabase dev artifacts
/supabase/.gitignore
/supabase/config.toml
/supabase/snippets/
